body {
  background-color: black;
}

.mybg {
  background-image: url(../images/food1.jpg);
  background-size: cover;
  height: 300px;
  margin: 0;
}

#footer {
  background-color: white;
  text-align: center;
  margin-top: 5%;
  padding: 2%;
}

#khokho {
  color: white;
}

#references a {
  padding-left: 7%;
  padding-right: 7%;
}

.display-4 {
  font-style: bold;
  color: red;
}
.lead {
  color: yellow;
  font-family: "Times New Roman", Times, serif;
  font-style: bold;
}

.bgslide img {
  height: 500px;
}
